<!DOCTYPE html>
<html>
<head>
  <title>Shreddit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="span1"></div>
    <div class="span3">
      <p class="lead"><a href="/" id="home-button">SHREDDIT</a></p>
    </div>
  </div>
<%= yield %>

</body>
</html>
